<!--quran div-->
<div class="row">
  <div class="col-md-12">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">

        </div>
        <div class="media-body">
          <h4 class="media-heading   text-center main-heading">Qur'an</h4>

          <p style="color: black;font-size: medium">

            Allah the Lord of the worlds greatest blessing in an unlimited number of gifts is the Holy Quran.
            In which the well-being of humanity is equipment. That is tower of guidance and mercy, that is the rope up
            to the Lord of the worlds, the catcher is successful in this world and in the
            hereafter. That guides to straight and true path. It Provides complete protocol of life. That who follows it
            finds all happiness. Reciter of its verses gets  great satisfaction, great reward and
            richness of faith. Man gets satisfaction with the abundant recitation and appreciation of the Qur'an, because it is the word of the Lord.
          </p>


        </div>
      </li>
    </ul>
  </div>

</div>

<div class="row">
  <!--second media -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">

        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading "><%= image_tag 'quran1.png', style: 'padding-left:5px;' %>
            In the Qur'an, Allah says:</h4>

          <p style="color: black;">
            Verily We: It is We Who have sent down the Dhikr (i.e. the Qur'an) and surely, We will guard it (from
            corruption)
            <b class="ayat ">(Surah Al Hijar,Verse:9)</b>
          </p>


        </div>
      </li>
    </ul>
  </div>
  <!-- first media-->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left ">
        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading "> <%= image_tag 'quran1.png', style: 'padding-left:5px;' %>
            In the Qur'an, Allah says:</h4>
          <p style="color: black;">
            Allah has sent down the best statement, a Book (this Qur'an), its parts resembling each other in goodness
            and truth, oft-repeated. The skins of those who fear their Lord shiver from it (when they recite it or hear
            it). Then their skin and their heart soften to the remembrance of Allah. That is the guidance of Allah. He
            Guides therewith whom He pleases and whomever Allah sends astray, for him there is no guide.
            <b class="ayat ">(Al zumar,Verse:23)</b>
          </p>
          </div>
      </li>
    </ul>
  </div>

</div>


<div class="row">

  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">

        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading "><%= image_tag 'hadith.png', style: 'padding-left:5px;' %>
            The Prophet Muhammad said:</h4>

          <p style="color: black;">
            The best amongst you is the one who learns the Qur'an and teaches it.
            <b class="ayat ">(Bukhari)</b>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <!--second media -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">

        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading "><%= image_tag 'hadith.png', style: 'padding-left:5px;' %>
            The Prophet Muhammad said:</h4>

          <p style="color: black;">
            The one who is proficient in the recitation of the Qur'an will be with the honourable and obedient angels.
            <b class="ayat">(Muslim)</b>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <!--second media -->


</div>



<div class="row">

  <!--second media -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">

        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading"><%= image_tag 'hadith.png', style: 'padding-left:5px;' %>
            The Prophet Muhammad said:</h4>

          <p style="color: black;">
            Read the Qur'an, for it will come as an intercessor for its reciters on the Day of Resurrection.
            <b class="ayat">(Muslim)</b>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <!-- first media-->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">

        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading "><%= image_tag 'hadith.png', style: 'padding-left:5px;' %>
            The Prophet Muhammad said:</h4>

          <p style="color: black;">
            The one who was devoted to the Qur'an will be told on the Day of Resurrection: 'Recite and ascend (in
            ranks) as you used to recite when you were in the world. Your rank will be at the last Ayah you recite.
            <b class="ayat ">(Abu Dawood and Termizi)</b>
          </p>


        </div>
      </li>
    </ul>
  </div>


</div>


