<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default transparent">
      <div class="panel-heading " style="background-color: #c5af59">
        <h3 class="panel-title">
          <i class="fa fa-list"></i>
          Study Plan And Fee
        </h3>
      </div>
      <div class="panel-body panel-bg">
        <div class=" row thaed-bt  hidden-sm hidden-xs">
          <div class="col-md-4 col-sm-3">Plan</div>
          <div class="col-md-4 col-sm-3">Duration/Day</div>
          <div class="col-md-4 col-sm-3">Monthly Fee</div>
        </div>
        <% @fees.each do |f| %>

            <div class="row data-row2 hidden-sm hidden-xs ">
              <div class="col-md-4 " >
                <%= f.plan %>
              </div>
              <div class="col-md-4 " >
                <%= f.duration %>
              </div>
              <div class="col-md-4 " >
                <%= number_to_currency f.feeamount %>
              </div>
            </div>

            <div class="row data-row2 visible-xs visible-sm ">
              <div class="col-md-4 "><b class="small-heading " style="margin-right: 10px;"> Plan: </b><%= f.plan %>
              </div>
              <div class="col-md-4  "> <b class="small-heading " style="margin-right: 10px;">Duration / day:</b> <%= f.duration %>
              </div>
              <div class="col-md-4 "><b class="small-heading " style="margin-right: 10px;"> Fee / month: </b><%= number_to_currency f.feeamount %>
              </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

