<!--quran div-->
<div class="row">
  <div class="col-md-12">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">

        </div>
        <div class="media-body">
          <h4 class="media-heading ur-rtl  text-center main-heading">قرآن</h4>

          <p class="ur-rtl text-right" style="color: black;">
            اللہ رب العالمین کی لاتعداد نعمتوں میں ایک عظیم ترین نعمت قرآن مجید ہے۔ جس میں پوری انسانیت کی فلاح کا سامان
            ہے۔ جو سراپا رحمت اور مینار رشد و ہدایت ہے جو رب العالمین کی رسی ہے جسے مضبوطی سے پکڑنے والا دنیا اور آخرت
            میں کامیاب ہوتا ہے۔
            جو سیدھی اور سچی راہ دکھاتا ہے۔ مکمل فطری دستور حیات مہیا کرتا ہے۔ اس کی ہدایات پر عمل کرنے والا سعادت دارین
            سے ہمکنار ہوتا ہے۔اس کی مبارک آیات کی تلاوت کرنے والا عظیم اجر و ثواب کے ساتھ ساتھ اطمینان و سکون،فرحت اور
            ایمان کی دولت سے مالا مال ہوتا ہے۔ قرآن کی تلاوت کی کثرت سے اکتاہٹ نہیں ہوتی بلکہ شوق اور محبت بڑھتی ہے کیوں
            کہ یہ رب العالمین کا کلام ہے۔

          </p>


        </div>
      </li>
    </ul>
  </div>

</div>

<div class="row text-right">

  <!--second media -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">

        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading ur-rtl"><%= image_tag 'quran1.png', style: 'padding-left:5px;' %>
            قرآن پاک میں اللہ کا ارشاد ہے۔</h4>

          <p class="ur-rtl" style="color: black;">
            بیشک ہم نے ہی قران کو نازل کیا ہے اور ہم ہی اس کی حفاظت کرنے والے ہیں۔
            <b class="ayat">(سورۃ الحجر، آیۃ 9)</b>
          </p>


        </div>
      </li>
    </ul>
  </div>

  <!-- first media-->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left ">

        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading ur-rtl"> <%= image_tag 'quran1.png', style: 'padding-left:5px;' %>
            قرآن پاک میں اللہ کا ارشاد ہے۔</h4>

          <p class="ur-rtl" style="color: black;">
            اللہ تعالی نے بہترین کلام نازل فرمایا ہے۔ جو ایسی کتاب ہے کہ آپس میں ملتی جلتی اور بار بار دہرائی ہوئی آیتوں
            کی ہے۔
            جس سے ان لوگوں کے رونگٹے کھڑے ہو جاتے ہیں جو اپنے رب کا خوف رکھتے ہیں آخر میں ان کے جسم اور دل اللہ تعالی کے
            ذکر کی طرف نرم ہو جاتے ہیں، یہ ہے اللہ تعالی کی ہدایت جس کے ذریعہ جسے چاہے راہ راست پر لگا دیتا ہے۔ اور جسے
            اللہ تعالی ہی راہ بھلا دے اس کا ہادی کوئی نہیں۔
            <b class="ayat">(سورۃ الزمر،آیۃ 23)</b>
          </p>


        </div>
      </li>
    </ul>
  </div>


</div>



<div class="row text-right">
  <!--second media -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading ur-rtl"><%= image_tag 'hadith.png', style: 'padding-left:5px;' %>
            حضرت محمد صلی اللہ علیہ وسلم نے فرمایا۔</h4>

          <p class="ur-rtl" style="color: black;">
            تم میں سب سے بہتر وہ شخص ہے جو قرآن سیکھے اور اسے سکھلائے۔
            <b class="ayat">(بخاری)</b>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <!--second media -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading ur-rtl"><%= image_tag 'hadith.png', style: 'padding-left:5px;' %>
            حضرت محمد صلی اللہ علیہ وسلم نے فرمایا۔</h4>

          <p class="ur-rtl" style="color: black;">
            قرآن کا ماہر قیامت والےدن برگزیدہ اور معزز فرشتوں کے ساتھ ہو گا۔
            <b class="ayat">(مسلم)</b>
          </p>
        </div>
      </li>
    </ul>
  </div>






</div>
<div class="row text-right">
  <!--second media -->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading ur-rtl"><%= image_tag 'hadith.png', style: 'padding-left:5px;' %>
            حضرت محمد صلی اللہ علیہ وسلم نے فرمایا۔</h4>

          <p class="ur-rtl" style="color: black;">
            قرآن کثرت سے پڑھا کرو، اس لیے کہ قیامت والے دن یہ اپنے پڑھنے والوں کے لیے سفارشی بن کر آئے گا۔
            <b class="ayat">(مسلم)</b>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <!-- first media-->
  <div class="col-md-6">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <h4 class="media-heading main-page-heading ur-rtl"><%= image_tag 'hadith.png', style: 'padding-left:5px;' %>
            حضرت محمد صلی اللہ علیہ وسلم نے فرمایا۔</h4>

          <p class="ur-rtl" style="color: black;">
            قرآن پڑھنے والے سے قیامت والے دن کہا جائے گا کہ قرآن پڑھتے جاو اور جنت کی منزلیں چڑھتے جاو اور اچھے طریقے
            سے
            پڑھو جیسے دنیا میں پڑھا کرتے تھے کیونکہ تمہارا ٹھکانہ وہاں ہوگا جہاں تم قرآن کی آخری آیت پڑھو گے۔
            <b class="ayat">(ابوداود ، ترمذی)</b>
          </p>


        </div>
      </li>
    </ul>
  </div>



</div>

